fastapi
uvicorn[standard]
pydantic[email]
email-validator
pymongo
python-dotenv
konlpy
scikit-learn
pandas
numpy
JPype1
SQLAlchemy
pymysql
cryptography
motor
langchain 
langchain-core 
langchain-community 
langchain-text-splitters 
langchain-huggingface 
faiss-cpu 
sentence-transformers
streamlit>=1.35.0
altair>=5.0.0

